<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ci_ac" frontName="ci_ac">
            <module name="CarlosSoratto_ActiveCampaign"/>
        </route>
    </router>
</config>
